.git
.env
.DS_Store # macOS specific ignore
airflow_settings.yaml
__pycache__/
astro
include/gcp/service_account.json
C:/Users/SALA443/Desktop/Projetos/data_quality_on_airflow/include/gcp/service_account.json
C:/Users/SALA443/Desktop/Projetos/data_quality_on_airflow/include/soda/configuration.yml
C:/Users/SALA443/Desktop/Projetos/data_quality_on_airflow/include/
include/soda/configuration.yml
